.menu{
    display: none;
}

@media (max-width: 768px) {
    
.menu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    top: 30px;
    right: 30px;
    z-index: 2;
}
}